.imgshadow:hover{
  box-shadow: #ec4899;
}

.type {
  overflow: hidden;
  white-space: nowrap;
  color: greenyellow;
  animation: typing 1.5s steps(30, end) forwards infinite;
}
  
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; 
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #a5f3fc;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.colorchange{
  background-color: #a5f3fc;
  text-align: center;
  color: #ec4899;
  border-radius: 10px;
}

.colorchange:hover, .projectcolor:hover {
  background-color: blueviolet;
  color: white;
}


 
